# Setting

In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib 
import plotly.express as px

In [3]:
#한글 폰트 설정 - Window 기준 
matplotlib.rcParams['font.family']='NanumGothic'
matplotlib.rcParams['axes.unicode_minus'] = False

# file load

In [12]:
import pandas as pd

# 청크 단위로 파일 읽기 및 문제 있는 행 식별하기
def identify_problematic_rows_chunked(file_path, encoding='cp949', delimiter=',', expected_columns=33, chunksize=10000):
    problematic_rows = []
    chunk_iter = pd.read_csv(file_path, encoding=encoding, delimiter=delimiter, chunksize=chunksize, on_bad_lines='skip')
    
    for chunk_idx, chunk in enumerate(chunk_iter):
        for row_idx, row in chunk.iterrows():
            if len(row) != expected_columns:
                problematic_rows.append((chunk_idx * chunksize + row_idx + 1, row))

    return problematic_rows

# 문제 있는 행 가져오기
file_path = './data/fulldata_08_26_04_P_통신판매업.csv'
problematic_rows = identify_problematic_rows_chunked(file_path)

# 문제 있는 행 표시
for row in problematic_rows:
    print(f"Line {row[0]}: {row[1]}")

# 문제가 있는 경우 몇 줄만 미리보기로 확인
if problematic_rows:
    print(f"총 {len(problematic_rows)}개의 문제 있는 행이 발견되었습니다.")
    print("문제 있는 행 몇 가지 예시:")
    for row in problematic_rows[:5]:  # 첫 5개의 문제 있는 행만 출력
        print(f"Line {row[0]}: {row[1]}")
else:
    print("문제 있는 행이 발견되지 않았습니다.")

문제 있는 행이 발견되지 않았습니다.

In [15]:
import pandas as pd

# 기본적으로 CSV 파일 불러오기
file_path = './data/fulldata_08_26_04_P_통신판매업.csv'
df = pd.read_csv(file_path, encoding='cp949', on_bad_lines='skip')

# 데이터프레임 확인
print(df.head())
print(df.info())

   번호 개방서비스명    개방서비스아이디  개방자치단체코드                 관리번호       인허가일자 인허가취소일자  \
0   1  통신판매업  08_26_04_P   3930000  2023393048230205235  2023-12-01     NaN
1   2  통신판매업  08_26_04_P   3990000  2023399033630201734  2022-09-13     NaN
2   3  통신판매업  08_26_04_P   4510000  2023451023130200239  2023-11-30     NaN
3   4  통신판매업  08_26_04_P   3740000  2023561001830202006  2021-04-06     NaN
4   5  통신판매업  08_26_04_P   3690000  2023369016630200564  2023-11-15     NaN

   영업상태구분코드 영업상태명 상세영업상태코드  ... 데이터갱신구분              데이터갱신일자           업태구분명  \
0         2    휴업        2  ...       U  2024-02-08 02:40:00           건강/식품
1         2    휴업        2  ...       U  2023-12-16 02:40:00  의류/패션/잡화/뷰티 기타
2         2    휴업        2  ...       U  2024-01-14 02:40:00             종합몰
3         2    휴업        2  ...       U  2023-12-01 02:40:00             종합몰
4         2    휴업        2  ...       U  2024-02-01 02:40:00             종합몰

         좌표정보(x)        좌표정보(y) 자산규모  부채총액 자본금  판매방식명 Unnamed: 32
0  184992.386654  423948.998279  0.0   0.0   0    인터넷         NaN
1  210575.849152  460354.532842  0.0   0.0   0    인터넷         NaN
2  164309.800287  317929.426545  0.0   0.0   0    인터넷         NaN
3  203603.161205  417765.005936  0.0   0.0   0    인터넷         NaN
4  408562.517861  231343.400398  0.0   0.0   0  TV홈쇼핑         NaN

[5 rows x 33 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2283063 entries, 0 to 2283062
Data columns (total 33 columns):
 #   Column       Dtype
---  ------       -----
 0   번호           int64
 1   개방서비스명       object
 2   개방서비스아이디     object
 3   개방자치단체코드     int64
 4   관리번호         object
 5   인허가일자        object
 6   인허가취소일자      object
 7   영업상태구분코드     int64
 8   영업상태명        object
 9   상세영업상태코드     object
 10  상세영업상태명      object
 11  폐업일자         object
 12  휴업시작일자       object
 13  휴업종료일자       object
 14  재개업일자        object
 15  소재지전화        object
 16  소재지면적        float64
 17  소재지우편번호      object
 18  소재지전체주소      object
 19  도로명전체주소      object
 20  도로명우편번호      object
 21  사업장명         object
 22  최종수정시점       object
 23  데이터갱신구분      object
 24  데이터갱신일자      object
 25  업태구분명        object
 26  좌표정보(x)      float64
 27  좌표정보(y)      float64
 28  자산규모         float64
 29  부채총액         float64
 30  자본금          object
 31  판매방식명        object
 32  Unnamed: 32  float64
dtypes: float64(6), int64(3), object(24)
memory usage: 574.8+ MB
None

In [18]:
df.head()

,번호,개방서비스명,개방서비스아이디,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,...,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(x),좌표정보(y),자산규모,부채총액,자본금,판매방식명,Unnamed: 32
0,1,통신판매업,08_26_04_P,3930000,2023393048230205235,2023-12-01,NaN,2,휴업,2,...,U,2024-02-08 02:40:00,건강/식품,184992.386654,423948.998279,0.0,0.0,0,인터넷,NaN
1,2,통신판매업,08_26_04_P,3990000,2023399033630201734,2022-09-13,NaN,2,휴업,2,...,U,2023-12-16 02:40:00,의류/패션/잡화/뷰티 기타,210575.849152,460354.532842,0.0,0.0,0,인터넷,NaN
2,3,통신판매업,08_26_04_P,4510000,2023451023130200239,2023-11-30,NaN,2,휴업,2,...,U,2024-01-14 02:40:00,종합몰,164309.800287,317929.426545,0.0,0.0,0,인터넷,NaN
3,4,통신판매업,08_26_04_P,3740000,2023561001830202006,2021-04-06,NaN,2,휴업,2,...,U,2023-12-01 02:40:00,종합몰,203603.161205,417765.005936,0.0,0.0,0,인터넷,NaN
4,5,통신판매업,08_26_04_P,3690000,2023369016630200564,2023-11-15,NaN,2,휴업,2,...,U,2024-02-01 02:40:00,종합몰,408562.517861,231343.400398,0.0,0.0,0,TV홈쇼핑,NaN

In [22]:
df.columns

Index(['번호', '개방서비스명', '개방서비스아이디', '개방자치단체코드', '관리번호', '인허가일자', '인허가취소일자',
       '영업상태구분코드', '영업상태명', '상세영업상태코드', '상세영업상태명', '폐업일자', '휴업시작일자', '휴업종료일자',
       '재개업일자', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명', '최종수정시점', '데이터갱신구분', '데이터갱신일자', '업태구분명', '좌표정보(x)', '좌표정보(y)',
       '자산규모', '부채총액', '자본금', '판매방식명', 'Unnamed: 32'],
      dtype='object')

### 불필요한 컬럼 제거

In [24]:
df.drop(columns=['번호', '개방서비스아이디', '소재지전화', '소재지면적', '소재지우편번호', '소재지전체주소', '도로명전체주소', '도로명우편번호',
       '사업장명','좌표정보(x)', '좌표정보(y)',
       '자산규모', '부채총액', '자본금','Unnamed: 32','개방서비스명','개방자치단체코드', '관리번호','휴업시작일자','휴업종료일자', '인허가일자', '인허가취소일자','재개업일자',
                '영업상태구분코드','상세영업상태코드','영업상태명', '상세영업상태명', '최종수정시점', '데이터갱신구분', '데이터갱신일자'], inplace=True)

In [25]:
df

,개방서비스명,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,재개업일자,최종수정시점,데이터갱신구분,데이터갱신일자,업태구분명,판매방식명
0,통신판매업,3930000,2023393048230205235,2023-12-01,NaN,2,휴업,2,휴업처리,NaN,2024-02-06,2024-12-31,NaN,2024-02-06 14:17:28,U,2024-02-08 02:40:00,건강/식품,인터넷
1,통신판매업,3990000,2023399033630201734,2022-09-13,NaN,2,휴업,2,휴업처리,NaN,2023-12-31,2024-12-30,NaN,2023-12-14 11:30:30,U,2023-12-16 02:40:00,의류/패션/잡화/뷰티 기타,인터넷
2,통신판매업,4510000,2023451023130200239,2023-11-30,NaN,2,휴업,2,휴업처리,NaN,2024-01-13,2026-01-12,NaN,2024-01-12 15:22:33,U,2024-01-14 02:40:00,종합몰,인터넷
3,통신판매업,3740000,2023561001830202006,2021-04-06,NaN,2,휴업,2,휴업처리,NaN,2023-12-01,2024-01-31,NaN,2023-11-29 09:05:19,U,2023-12-01 02:40:00,종합몰,인터넷
4,통신판매업,3690000,2023369016630200564,2023-11-15,NaN,2,휴업,2,휴업처리,NaN,2024-01-30,2025-01-29,NaN,2024-01-30 10:03:23,U,2024-02-01 02:40:00,종합몰,TV홈쇼핑
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2283058,통신판매업,3580000,2005358003830200002,2005-03-31,NaN,1,영업/정상,1,NaN,NaN,NaN,NaN,NaN,2008-02-23 00:00:00,I,2022-04-21 00:22:33,-,NaN
2283059,통신판매업,3580000,2004358003830200002,2004-10-07,NaN,1,영업/정상,1,NaN,NaN,NaN,NaN,NaN,2008-02-23 00:00:00,I,2022-04-21 00:22:33,-,NaN
2283060,통신판매업,3580000,2003358003830200002,2003-05-14,NaN,1,영업/정상,1,NaN,NaN,NaN,NaN,NaN,2008-02-23 00:00:00,I,2022-04-21 00:22:33,-,NaN
2283061,통신판매업,3170000,2004317010530200507,2003-09-25,NaN,1,영업/정상,0,NaN,NaN,NaN,NaN,NaN,2008-08-29 14:27:44,I,2018-08-31 23:59:59,의류/패션/잡화/뷰티,인터넷
2283062,통신판매업,3170000,2007317010530201764,2007-01-17,NaN,1,영업/정상,0,NaN,NaN,NaN,NaN,NaN,2008-08-29 15:45:25,I,2018-08-31 23:59:59,기타,인터넷

In [28]:
df

,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,재개업일자,최종수정시점,데이터갱신구분,데이터갱신일자,업태구분명,판매방식명
0,2023-12-01,NaN,2,휴업,2,휴업처리,NaN,2024-02-06,2024-12-31,NaN,2024-02-06 14:17:28,U,2024-02-08 02:40:00,건강/식품,인터넷
1,2022-09-13,NaN,2,휴업,2,휴업처리,NaN,2023-12-31,2024-12-30,NaN,2023-12-14 11:30:30,U,2023-12-16 02:40:00,의류/패션/잡화/뷰티 기타,인터넷
2,2023-11-30,NaN,2,휴업,2,휴업처리,NaN,2024-01-13,2026-01-12,NaN,2024-01-12 15:22:33,U,2024-01-14 02:40:00,종합몰,인터넷
3,2021-04-06,NaN,2,휴업,2,휴업처리,NaN,2023-12-01,2024-01-31,NaN,2023-11-29 09:05:19,U,2023-12-01 02:40:00,종합몰,인터넷
4,2023-11-15,NaN,2,휴업,2,휴업처리,NaN,2024-01-30,2025-01-29,NaN,2024-01-30 10:03:23,U,2024-02-01 02:40:00,종합몰,TV홈쇼핑
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2283058,2005-03-31,NaN,1,영업/정상,1,NaN,NaN,NaN,NaN,NaN,2008-02-23 00:00:00,I,2022-04-21 00:22:33,-,NaN
2283059,2004-10-07,NaN,1,영업/정상,1,NaN,NaN,NaN,NaN,NaN,2008-02-23 00:00:00,I,2022-04-21 00:22:33,-,NaN
2283060,2003-05-14,NaN,1,영업/정상,1,NaN,NaN,NaN,NaN,NaN,2008-02-23 00:00:00,I,2022-04-21 00:22:33,-,NaN
2283061,2003-09-25,NaN,1,영업/정상,0,NaN,NaN,NaN,NaN,NaN,2008-08-29 14:27:44,I,2018-08-31 23:59:59,의류/패션/잡화/뷰티,인터넷
2283062,2007-01-17,NaN,1,영업/정상,0,NaN,NaN,NaN,NaN,NaN,2008-08-29 15:45:25,I,2018-08-31 23:59:59,기타,인터넷

### 상세영업상태명이 폐업처리인것만 필터링

In [32]:
df = df[df['상세영업상태명']=='폐업처리']
df

,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,재개업일자,최종수정시점,데이터갱신구분,데이터갱신일자,업태구분명,판매방식명
6896,2010-09-03,NaN,3,폐업,3,폐업처리,2020-03-19,NaN,NaN,NaN,2020-03-20 10:39:13,I,2024-01-02 00:16:32,의류/패션/잡화/뷰티,인터넷
6897,2010-09-03,NaN,3,폐업,3,폐업처리,2013-01-23,NaN,NaN,NaN,2013-01-23 15:48:29,I,2024-01-02 00:16:32,가전,인터넷
6898,2023-11-23,NaN,3,폐업,3,폐업처리,2024-01-19,NaN,NaN,NaN,2024-01-19 16:31:33,U,2024-01-21 02:40:00,종합몰,"인터넷, 기타"
6899,2023-11-25,NaN,3,폐업,3,폐업처리,2023-12-18,NaN,NaN,NaN,2023-12-18 10:02:38,U,2023-12-20 02:40:00,종합몰,인터넷
6900,2023-11-24,NaN,3,폐업,3,폐업처리,2024-01-30,NaN,NaN,NaN,2024-01-31 17:21:06,U,2024-02-02 02:40:00,종합몰 교육/도서/완구/오락 가전 컴퓨터/사무용품 가구/수납용품 의류/패션/잡화/뷰...,인터넷
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567973,2015-06-04,NaN,3,폐업,3,폐업처리,2018-04-24,NaN,NaN,NaN,2018-04-24 16:44:20,I,2018-08-31 23:59:59,의류/패션/잡화/뷰티,인터넷
567974,2015-11-04,NaN,3,폐업,3,폐업처리,2024-01-18,NaN,NaN,NaN,2024-01-18 15:45:07,U,2024-01-20 02:40:00,자동차/자동차용품,인터넷
567975,2015-10-22,NaN,3,폐업,3,폐업처리,2020-11-10,NaN,NaN,NaN,2020-11-10 19:15:31,U,2020-11-12 02:40:00,기타,인터넷
567976,2015-10-28,NaN,3,폐업,3,폐업처리,2017-12-29,NaN,NaN,NaN,2017-12-29 17:15:11,I,2018-08-31 23:59:59,기타,인터넷
567977,2015-10-07,NaN,3,폐업,3,폐업처리,2016-06-16,NaN,NaN,NaN,2016-06-16 09:36:45,I,2018-08-31 23:59:59,레져/여행/공연,인터넷

### 폐업일자 컬럼 datetime형으로 변환

In [33]:
df['폐업일자'] = pd.to_datetime(df['폐업일자'],errors='coerce')

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 561082 entries, 6896 to 567977
Data columns (total 15 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   인허가일자     561019 non-null  object
 1   인허가취소일자   0 non-null       object
 2   영업상태구분코드  561082 non-null  int64
 3   영업상태명     561082 non-null  object
 4   상세영업상태코드  561082 non-null  object
 5   상세영업상태명   561082 non-null  object
 6   폐업일자      551695 non-null  datetime64[ns]
 7   휴업시작일자    1324 non-null    object
 8   휴업종료일자    1319 non-null    object
 9   재개업일자     778 non-null     object
 10  최종수정시점    561082 non-null  object
 11  데이터갱신구분   561082 non-null  object
 12  데이터갱신일자   561082 non-null  object
 13  업태구분명     561082 non-null  object
 14  판매방식명     492424 non-null  object
dtypes: datetime64[ns](1), int64(1), object(13)
memory usage: 68.5+ MB

In [35]:
df

,인허가일자,인허가취소일자,영업상태구분코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,휴업종료일자,재개업일자,최종수정시점,데이터갱신구분,데이터갱신일자,업태구분명,판매방식명
6896,2010-09-03,NaN,3,폐업,3,폐업처리,2020-03-19,NaN,NaN,NaN,2020-03-20 10:39:13,I,2024-01-02 00:16:32,의류/패션/잡화/뷰티,인터넷
6897,2010-09-03,NaN,3,폐업,3,폐업처리,2013-01-23,NaN,NaN,NaN,2013-01-23 15:48:29,I,2024-01-02 00:16:32,가전,인터넷
6898,2023-11-23,NaN,3,폐업,3,폐업처리,2024-01-19,NaN,NaN,NaN,2024-01-19 16:31:33,U,2024-01-21 02:40:00,종합몰,"인터넷, 기타"
6899,2023-11-25,NaN,3,폐업,3,폐업처리,2023-12-18,NaN,NaN,NaN,2023-12-18 10:02:38,U,2023-12-20 02:40:00,종합몰,인터넷
6900,2023-11-24,NaN,3,폐업,3,폐업처리,2024-01-30,NaN,NaN,NaN,2024-01-31 17:21:06,U,2024-02-02 02:40:00,종합몰 교육/도서/완구/오락 가전 컴퓨터/사무용품 가구/수납용품 의류/패션/잡화/뷰...,인터넷
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567973,2015-06-04,NaN,3,폐업,3,폐업처리,2018-04-24,NaN,NaN,NaN,2018-04-24 16:44:20,I,2018-08-31 23:59:59,의류/패션/잡화/뷰티,인터넷
567974,2015-11-04,NaN,3,폐업,3,폐업처리,2024-01-18,NaN,NaN,NaN,2024-01-18 15:45:07,U,2024-01-20 02:40:00,자동차/자동차용품,인터넷
567975,2015-10-22,NaN,3,폐업,3,폐업처리,2020-11-10,NaN,NaN,NaN,2020-11-10 19:15:31,U,2020-11-12 02:40:00,기타,인터넷
567976,2015-10-28,NaN,3,폐업,3,폐업처리,2017-12-29,NaN,NaN,NaN,2017-12-29 17:15:11,I,2018-08-31 23:59:59,기타,인터넷
567977,2015-10-07,NaN,3,폐업,3,폐업처리,2016-06-16,NaN,NaN,NaN,2016-06-16 09:36:45,I,2018-08-31 23:59:59,레져/여행/공연,인터넷

### 판매방식명에 인터넷을 포함하는 행만 필터링

In [43]:
df['판매방식명'].unique()

array(['인터넷', '인터넷, 기타', nan, '기타', 'TV홈쇼핑', 'TV홈쇼핑, 인터넷, 카다로그, 신문잡지, 기타',
       '인터넷, 카다로그, 신문잡지', '인터넷, 카다로그, 기타', '인터넷, 카다로그, 신문잡지, 기타',
       'TV홈쇼핑, 인터넷', '인터넷, 카다로그', 'TV홈쇼핑, 인터넷, 카다로그, 신문잡지', '카다로그',
       'TV홈쇼핑, 인터넷, 기타', 'TV홈쇼핑, 인터넷, 카다로그, 기타', '카다로그, 신문잡지, 기타',
       'TV홈쇼핑, 인터넷, 카다로그', 'TV홈쇼핑, 기타', 'TV홈쇼핑, 인터넷, 신문잡지, 기타',
       '인터넷, 신문잡지, 기타', '인터넷, 신문잡지', 'TV홈쇼핑, 인터넷, 신문잡지', '신문잡지',
       '카다로그, 기타', 'TV홈쇼핑, 카다로그, 신문잡지, 기타', '카다로그, 신문잡지',
       'TV홈쇼핑, 카다로그, 신문잡지', '신문잡지, 기타', 'TV홈쇼핑, 카다로그', 'TV홈쇼핑, 신문잡지',
       'TV홈쇼핑, 카다로그, 기타', 'TV홈쇼핑, 신문잡지, 기타'], dtype=object)

In [52]:
a = df[df['판매방식명'].str.contains('인터넷', na=False)]
a

,영업상태명,상세영업상태명,폐업일자,최종수정시점,데이터갱신구분,데이터갱신일자,업태구분명,판매방식명
6896,폐업,폐업처리,2020-03-19,2020-03-20 10:39:13,I,2024-01-02 00:16:32,의류/패션/잡화/뷰티,인터넷
6897,폐업,폐업처리,2013-01-23,2013-01-23 15:48:29,I,2024-01-02 00:16:32,가전,인터넷
6898,폐업,폐업처리,2024-01-19,2024-01-19 16:31:33,U,2024-01-21 02:40:00,종합몰,"인터넷, 기타"
6899,폐업,폐업처리,2023-12-18,2023-12-18 10:02:38,U,2023-12-20 02:40:00,종합몰,인터넷
6900,폐업,폐업처리,2024-01-30,2024-01-31 17:21:06,U,2024-02-02 02:40:00,종합몰 교육/도서/완구/오락 가전 컴퓨터/사무용품 가구/수납용품 의류/패션/잡화/뷰...,인터넷
...,...,...,...,...,...,...,...,...
567973,폐업,폐업처리,2018-04-24,2018-04-24 16:44:20,I,2018-08-31 23:59:59,의류/패션/잡화/뷰티,인터넷
567974,폐업,폐업처리,2024-01-18,2024-01-18 15:45:07,U,2024-01-20 02:40:00,자동차/자동차용품,인터넷
567975,폐업,폐업처리,2020-11-10,2020-11-10 19:15:31,U,2020-11-12 02:40:00,기타,인터넷
567976,폐업,폐업처리,2017-12-29,2017-12-29 17:15:11,I,2018-08-31 23:59:59,기타,인터넷
567977,폐업,폐업처리,2016-06-16,2016-06-16 09:36:45,I,2018-08-31 23:59:59,레져/여행/공연,인터넷

### 폐업일자 2019년 이후로 필터링

In [61]:
close = a[a['폐업일자']>='2019-01-01']
close

             폐업일자                                              업태구분명    판매방식명
6896   2020-03-19                                        의류/패션/잡화/뷰티      인터넷
6898   2024-01-19                                                종합몰  인터넷, 기타
6899   2023-12-18                                                종합몰      인터넷
6900   2024-01-30  종합몰 교육/도서/완구/오락 가전 컴퓨터/사무용품 가구/수납용품 의류/패션/잡화/뷰...      인터넷
6902   2024-02-22                                                종합몰      인터넷
...           ...                                                ...      ...
567963 2023-12-29                                        의류/패션/잡화/뷰티      인터넷
567967 2020-01-28                                        의류/패션/잡화/뷰티      인터넷
567968 2023-01-20                                                 기타      인터넷
567974 2024-01-18                                          자동차/자동차용품      인터넷
567975 2020-11-10                                                 기타      인터넷

[288095 rows x 3 columns]

In [62]:
close.to_csv('폐업률(2019-2024).csv', index=False, encoding='utf-8-sig')